<a href="https://colab.research.google.com/github/YOONHO-CHOI/assignment-YOONHO-CHOI/blob/main/Assignment2_2021710574_YoonhoChoi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
# Assignment - Create a raw dataset with more rows and columns in Section 2.2
import os
import numpy as np
import pandas as pd


os.makedirs(os.path.join('..', 'data'), exist_ok=True)

data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price, Name\n')  # Column names
    f.write('2, Pave, 127500, Heejun\n')  # Each row represents a data example
    f.write('2, NA, 106000, Tony\n')
    f.write('4, NA, 178100, Gangta\n')
    f.write('NA, NA, 140000, Woohyuk\n')
    f.write('NA, NA, 123456, Jaewon\n')    
data = pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price      Name
0       2.0   Pave  127500    Heejun
1       2.0     NA  106000      Tony
2       4.0     NA  178100    Gangta
3       NaN     NA  140000   Woohyuk
4       NaN     NA  123456    Jaewon

In [29]:
# Delete the column with the most missing values.
frequent_na_column = np.argmax(data.isnull().sum())
print('The most frequent NA column is {}'.format(data.keys()[frequent_na_column]))
preprocessed_data = data.drop(data.columns[frequent_na_column], axis = 1)
print(preprocessed_data)

The most frequent NA column is NumRooms
   Alley   Price      Name
0   Pave  127500    Heejun
1     NA  106000      Tony
2     NA  178100    Gangta
3     NA  140000   Woohyuk
4     NA  123456    Jaewon

In [30]:
# Convert the preprocessed dataset to the tensor format
import tensorflow as tf
tensor_data = tf.constant(preprocessed_data.iloc[:,1]) # Only numeric array can be converted to tensor shape
tensor_data